h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--title-font-color);
    font-size: var(--fz-heading);
    font-family: var(--font-title);
    -webkit-text-stroke: #A36E3D;
    -webkit-text-stroke-width: 1px;
    letter-spacing: .1rem;
}